:root {
    --color-main: rgba(30, 29, 88, 121);
    --text-color1: rgba(185, 140, 67, 112);
    --text-color2: rgba(168, 169, 173, 7);
    --text-color3: rgba(46, 48, 141, 159);
}


body {
    background-color: var(--color-main);
    margin: 0 auto;
}


div {
    margin: auto;
}


model-viewer {
    margin: auto;

    height: 100vh;
    width: 100vw;

    position: absolute;
    top: 25;
}


h1 {
    inline-size: max-content;

    font-weight: bold;
    font-family: 'Classic Grotesque';

    color: var(--text-color1);

    position: absolute;
    left: 28vw;
    top: 25vh;
}


span {
    color: var(--text-color2);
}


@media (min-width: 768px) {
    h1 {
        font-size: calc(25vw - 10vh);
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: calc(25vh - 10vw);
    }
}
