:root {
    --color-main: rgb(30, 29, 88);
    --text-color1: rgb(185, 140, 67);
    --text-color2: rgb(168, 169, 173);
    --text-color3: rgb(46, 48, 141);
}


body {
    height: 100vh;
    width: 100vw;
    
    overflow: hidden;

    background: linear-gradient(
        var(--color-main) 0,
        var(--color-main) 80vh,
        grey 95vh,
        var(--color-main));
    margin: 0 auto;
}


div {
    margin: auto;
}


model-viewer {
    margin: auto;

    height: 100%;
    width: 100%;

    position: absolute;
    top: 25;

    background-color: transparent;
}


h1 {
    inline-size: max-content;

    font-weight: bold;
    font-family: 'Classic Grotesque';

    color: var(--text-color1);

    position: absolute;
    left: 28vw;
    top: 25vh;
}


span {
    color: var(--text-color2);
}


@media (min-width: 768px) {
    h1 {
        font-size: 125px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: calc(25vh - 10vw);
    }

    body {
        background: linear-gradient(
        var(--color-main) 0,
        var(--color-main) 75vh,
        grey 94vh,
        black 100vh,
        var(--color-main) 100vh);
    }

    model-viewer {
        max-width: 70vw;
        max-height: 70vh;
        top: 25vh;
        left: 15vw;
    }

}
